<div class="header-block">
  <h1>
    Participant List
  </h1>

  <button (click)="goToPage()">Add New Participant</button>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Has Siblings</th>
      <th>Known environmental exposures</th>
      <th>Known genetic mutations</th>
      <th>Review State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let participant of store.getState().participants">
      <td>{{participant.name}}</td>
      <td>{{participant.age}}</td>
      <td>{{participant.hasSiblings}}</td>
      <td>{{participant.environmentalExposures}}</td>
      <td>{{participant.geneticMutations}}</td>
      <td>
        <select>
          <option *ngFor="let opt of reviewOptions"
                  (change)="onUpdate(participant, opt.value)"
                  value="opt.value">{{opt.label}}
          </option>
        </select>
      </td>

    </tr>

  </tbody>
</table>
