<div class="header-block flex nowrap center justify">
  <h1>
    Participant List
  </h1>

  <nav>
    <a routerLink="/add"
       class="button primary"
       routerLinkActive="active">Add Participant</a>
  </nav>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Has Siblings</th>
      <th>Known Environmental Exposures</th>
      <th>Known Genetic Mutations</th>
      <th>Review State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let participant of store.getState().participants">
      <td>{{participant.name}}</td>
      <td>{{participant.age}}</td>
      <td>{{participant.hasSiblings}}</td>
      <td>{{participant.environmentalExposures}}</td>
      <td>{{participant.geneticMutations}}</td>
      <td>
        <select id="reviewState"
                name="reviewState"
                [(ngModel)]="participant.reviewState">
          <option *ngFor="let opt of reviewOptions"
                  (ngModelChange)="onUpdate(participant, opt.value)"
                  [value]="opt.value">{{opt.label}}
          </option>
        </select>
      </td>
      <td>
        <button class="button primary"
                (click)="onEdit(participant)">Edit
        </button>
      </td>
    </tr>

  </tbody>
</table>
