<div class="header-block flex nowrap center justify">
  <h1>
    Add Participant
  </h1>

  <nav>
    <a routerLink="/display"
       class="button primary"
       routerLinkActive="active">Participant List</a>
  </nav>
</div>

<form #participantForm="ngForm">

  <div class="section">
    <label for="name">Name
      <input id="name"
             name="name"
             [(ngModel)]="selectedParticipant.name"
             required>
    </label>

    <label for="age">Age
      <input type="number"
             id="age"
             name="age"
             [(ngModel)]="selectedParticipant.age"
             required>
    </label>

    <label for="hasSiblings">Has Siblings
      <select id="hasSiblings"
              name="hasSiblings"
              [(ngModel)]="selectedParticipant.hasSiblings"
              required>
        <option *ngFor="let opt of yesNoOpts"
                [value]="opt.value">{{opt.label}}
        </option>
      </select>
    </label>
  </div>

  <div class="section">

    <label for="environmentalExposures">Known Environmental Exposures
      <input type="text"
             id="environmentalExposures"
             name="environmentalExposures"
             [(ngModel)]="selectedParticipant.environmentalExposures">
    </label>

    <label for="geneticMutations">Known Genetic Mutations
      <input type="text"
             id="geneticMutations"
             name="geneticMutations"
             [(ngModel)]="selectedParticipant.geneticMutations">
    </label>
  </div>

  <div class="section flex start">
    <label for="reviewState">Review State
      <select id="reviewState"
              name="reviewState"
              [(ngModel)]="selectedParticipant.reviewState">
        <option *ngFor="let opt of reviewOptions"
                [value]="opt.value">{{opt.label}}
        </option>
      </select></label>
  </div>

  <button class="primary button"
          *ngIf="!store.getState().editMode"
          (click)="onAdd()">Add Participant</button>

  <button class="primary button"
          *ngIf="store.getState().editMode"
          (click)="onUpdate()">Update Participant</button>

</form>
